<?xml version="1.0" ?>
<launch>
	
	<!-- arguments -->
	<arg name="publish_tf" default="true" />  <!-- Publishing Transformation information about the kinect sensor -->
	<arg name="rtabmap_args" default="--delete_db_on_start" /> <!-- Cleaning data base each before run -->
	<arg name="rviz" default="true" /> <!-- Activating rviz -->
	<arg name="rgb_topic" default="/kinect2/qhd/image_color_rect" /> <!-- RGB color topic address -->
	<arg name="depth_registered_topic" default="/kinect2/qhd/image_depth_rect" /> <!-- depth cloud topic address --> 
	<arg name="camera_info_topic" default="/kinect2/qhd/camera_info" />  <!-- Camera topic address -->

	<!-- Activating Kinect2 Bridge with Transformation -->
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" value="$(arg publish_tf)"/>
	</include>

	<!-- Activating Transform Publiser -->
	<node name="static_transform_publisher" pkg="tf"  type="static_transform_publisher" respawn="false" output="screen" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 camera_link kinect2_link 100
"/>

	<!-- Activating RTAB Map -->
	<include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch">
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="rtabmap_args" value="$(arg rtabmap_args)"/>
		<arg name="rgb_topic" value="$(arg rgb_topic)"/>
		<arg name="depth_registered_topic" value="$(arg depth_registered_topic)"/>
		<arg name="camera_info_topic" value="$(arg camera_info_topic)"/>
	</include>

</launch>


