<?xml version="1.0" ?>
<launch>
	<!-- arguments -->
	<arg name="gui" default="true" />
	
	<!-- load urdf, start state publishers -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt_rlb_description)/urdf/hdt_rlb.xacro'"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="$(arg gui)" />
	</node>
	
	<!-- launch rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdt_rlb_description)/launch/hdt_rlb.rviz"/>
</launch>

